const manifest = <MANIFEST>
const redirects = <REDIRECTS>
const dir = <CONTENT_DIR>

console.log('dev PRESSKIT_CONTENT_DIR', dir)

export default {
  async fetch(request) {
    let url = new URL(request.url)
    if (url.pathname === '/redirects') {
      return Response.json(redirects)
    }
    return Response.json(manifest)
  }
}
